body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
}

a {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2192f3;
    border: 5px solid #2196f3;
    border-radius: 50px;
    text-transform: none;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

a:hover {
    color: #255784;
    background: #2196f3;
    border: 5px;
    box-shadow: 0 0 70px #2196f3, 0 0 70px #2196f3, 0 0 70px #2196f3;
    transition-delay: 0.1s;
    filter: brightness(200%);
}